<%- include('./static/header') %>
<script>
  document.getElementById('logout').addEventListener('click',(e) => {
    e.preventDefault();
    localStorage.removeItem('token');
    window.location.href = '/';
  });
</script>
<script>
  const params = new URLSearchParams(window.location.search);
  // console.log(params.get('t'));
  localStorage.setItem('token', params.get('t'));
  async function makeRequest() {
    var jwtToken = localStorage.getItem("token");
    var headers = {};

    if (jwtToken) {
      headers["Authorization"] = jwtToken;
    }
    // console.log("hi");
    let resp = await fetch("/auth/verifytoken", {
      method: "POST", // *GET, POST, PUT, DELETE, etc.
      mode: "cors",
      headers: headers,
    });
  // if(resp.status === 200){
    
  // }
  }
  makeRequest();
</script>

<section class="add-todo">
  <form action="./api/todos" onsubmit="return validation()" method="post">
    <div class="abs">
      <div class="row">
        <input
          type="text"
          name="title"
          placeholder="take a note..."
          autocomplete="off"
          id="title"
        />
        <button type="submit">+</button>
      </div>
      <textarea
        placeholder="Description..."
        name="description"
        rows="5"
        id="description"
      ></textarea>
      <input type="hidden" name="user_id" value=<%= user[0]['user_id'] %>>
      <input type="hidden" name="token" value=<%= token %>>
    </div>
  </form>

  <div class="notes">
    <% if(todos.length === 0){ %>
    <div>No todos to display</div>
    <% } else{ todos.forEach(e => { %>
    <form action="api/delete/<%=e.todo_id%>/<%= token %>/<%= user[0]['user_id'] %>" method="GET">
      <div class="note" onclick="clickedDiv('<%=e.todo_id%>')">
        <div class="topLine">
          <h2><%= e.todo_title %></h2>
          <button type="submit"><i class="fas fa-trash-alt"></i></button>
        </div>
        <p><%= e.todo_description %></p>
        <small><%= e.todo_date %></small>
      </div>
    </form>
    <div id="myModal-<%= e.todo_id %>" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span
          class="close"
          id="close-<%= e.todo_id %>"
          onclick="closemodal('<%= e.todo_id %>')"
          >&times;</span
        >
        <form
          action="/api/update/<%=e.todo_id%>"
          method="post"
          onsubmit="return validationUpdate('<%= e.todo_id %>')"
        >
          <input
            type="text"
            value="<%= e.todo_title %>"
            name="title"
            id="titleUpdate<%= e.todo_id %>"
          />
          <textarea
            placeholder="Description..."
            name="description"
            rows="5"
            id="descriptionUpdate<%= e.todo_id %>"
          >
<%= e.todo_description %></textarea
          >
          <input type="hidden" name="user_id" value=<%= user[0]['user_id'] %>>
          <input type="hidden" name="token" value=<%= token %>>
          <button type="submit">Update</button>
        </form>
      </div>
    </div>
    <% })} %>
  </div>
</section>

<script>
  function closemodal(id) {
    document.getElementById("myModal-" + id).style.display = "none";
  }
  let textarea = document.querySelector(".abs textarea");
  let textbox = document.querySelector(".row input");
  textbox.onfocus = () => {
    textarea.style.display = "block";
  };
</script>
<script src="js/index.js"></script>
<%- include('./static/footer') %>
